body {
    background-color: red;
    max-width: 50rem;
    width: 100%;
    height: 100%;
    margin: 0;
    margin-left: auto;
    margin-right: auto;
    display: block;
    position: relative;
    padding: 0rem;
    overflow: hidden;
}
header{
    background: rebeccapurple;
    position:absolute;
    top:0;
    left:0;
    right:0;
    height:3rem;
}

#username {
    color: black;
    float: right;
    clear: both;
    width: 150px;
    height: 25px;
    border: 1px solid gray;
    box-sizing: border-box;
}

#button {
    float: right;
    clear: both;
}

#MathJax_Message {
    width: 300px;
    height: 600px;
    box-sizing: border-box;
    border: 1px solid gray;
}

#MathPreviewTheirs,
#MathBufferTheirs {
    background: mediumspringgreen;
    position: absolute;
    width: 50%;
    right: 0;
    height: 10rem;
    bottom: 5rem;
    color: blue;
    box-sizing: border-box;
    border: 1px solid gray;
}

#MathPreviewOurs,
#MathBufferOurs {
    background: peachpuff;
    position: absolute;
    width: 50%;
    left: 0;
    height: 10rem;
    bottom: 5rem;
    color: blue;
    box-sizing: border-box;
    border: 1px solid gray;
}

#ChatHistory {
    color: orange;
    top: 3rem;
    bottom: 15rem;
    left: 0;
    right: 0;
    background: blue;
    box-sizing: border-box;
    border: 1px solid gray;
    position: absolute;
}

button.center {
    position: absolute;
    height: 5rem;
    right: 0;
    bottom: 0;
    width: 5rem;
}

#MathInput {
    background: pink;
    position: absolute;
    bottom: 0;
    height: 5rem;
    right: 0;
    left: 0;
    width: 100%;
    margin: 0;
    display: block;
    font-family: "Helvetica Neue", "Segoe UI";
}