body
{
background-color: white;	
}



h1
{
color:blue;
text-align: center;
font-size: 3rem; 
font-family: "Helvetica Neue", "Segoe UI";
}
 
#otherMessage
{
background-color: skyblue;
}
#preview
{
position: fixed;
right: .5rem;
bottom: 4rem;
width: 40rem;
height: 2rem;
border-radius: .75rem;
font-size: 1.5rem; 
font-family: "Helvetica Neue", "Segoe UI";
}

#rawOutput
{
position: fixed;
right: .5rem;
bottom: .75rem;
width: 40rem;
height: 2rem;
border-radius: .75rem;
font-size: 1.5rem; 
font-family: "Helvetica Neue", "Segoe UI";
}
