body {
    max-width: 50rem;
    width: 100%;
    height: 100%;
    margin: 0;
    margin-left: auto;
    margin-right: auto;
    display: block;
    position: relative;
    padding: 0rem;
    overflow: hidden;
    font-family: "Helvetica Neue", "Segoe UI";
}
header{
    position:absolute;
    padding: 1em;
    padding-top: 0.75em;
    top:0;
    left:0;
    right:0;
    height:3rem;
}

#username {
    width: 150px;
    height: 2em;
    border: 1px solid gray;
    box-sizing: border-box;
}

#login {
    float: right;
}

#login input {
    padding: 0.5em;
    border: none;
    border-bottom: 1px solid black;
}

#login button {
    background: #eee;
    border: none;
    padding: 0.5em;
}

#MathPreviewTheirs,
#MathBufferTheirs {
    position: absolute;
    width: 50%;
    right: 0;
    height: 10rem;
    bottom: 5rem;
    box-sizing: border-box;
    border-bottom: 1px solid #aaa;
    border-left: 1px dashed #aaa;
}

#MathPreviewOurs,
#MathBufferOurs {
    position: absolute;
    width: 50%;
    left: 0;
    height: 10rem;
    bottom: 5rem;
    box-sizing: border-box;
    border-bottom: 1px solid #aaa;
}

#ChatHistory {
    top: 3rem;
    bottom: 15rem;
    left: 0;
    right: 0;
    box-sizing: border-box;
    border: 1px solid #aaa;
    position: absolute;
    border: none;
    border-bottom: 1px dashed #aaa;
    border-top: 1px solid #aaa;
    overflow-y: scroll;
}

button.center {
    position: absolute;
    height: 5rem;
    right: 0;
    bottom: 0;
    width: 5rem;
}

#MathInput {
    position: absolute;
    bottom: 0;
    padding: 1em;
    height: 5rem;
    right: 0;
    left: 0;
    width: 100%;
    margin: 0;
    padding-right: 11em;
    display: block;
    border: none;
}

button.center {
    background: none;
    border: none;
    border-left: 1px dashed #aaa;
}

.message {
    background: indigo;
    max-width: 66%;
    padding: 0.5em;
    margin-top: 0.5em;
}

.message.mine{
    background: #86D4BE;
    margin-left: auto;
    border-radius: 1rem 0 0 1rem;
}
.message.theirs{
    margin-right: 0;
    background: #eee;
    border-radius: 0 1rem 1rem 0;
}
